<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Movies</title>

  <link rel="stylesheet" href="/stylesheets/movies.css" type="text/css" />

  <script src="/javascripts/dojo/dojo.js" type="text/javascript"
          djConfig="parseOnLoad:false, debugAtAllCosts:false"></script>

  <script type="text/javascript">
    var moviesStore, moviesGrid;
    var peopleStore, peopleGrid;
    var editors;
    
    dojo.find = function(/*Array|String*/arr, /*Function|String*/callback, /*Object?*/thisObject) {
      return dojo.filter(arr, callback, thisObject)[0];
    };
    dojo.try = function(/*Object*/obj, /*Function|String*/func, /*Array?*/args, /*Object?*/defaultValue) {
      if (dojo.isFunction(obj[func])) {
        return obj[func].apply(obj, args || []);
      } else {
        return defaultValue;
      }
    };
    dojo.groupBy = function(/*Array*/items, /*Function*/extractor) {
      var keys = [];
      var groups = {};
      for (var i = 0, l = items.length; i < l; i++) {
        var item = items[i];
        var key = extractor(item);
        var group = groups[key];
        if (!group) {
          keys.push(key);
          group = groups[key] = [];
        }
        group.push(item);
      }
      return { keys: keys, groups: groups };
    };


    dojo.registerModulePath('moviedb', "/javascripts/moviedb");
    dojo.require('moviedb.movies');
    
    function buildMoviesGrid(store) {
      var awardsFormatter = function(awards) {
        return awards ? dojo.string.rep('*', awards.length) : '';
      };
      var yearFormatter = function(date) {
        return date ? 1900 + date.getYear() : '';
      };

      var grid = new dojox.grid.DataGrid({
        query: { title: '*' },
        sortInfo: -2,
        store: store,
        structure: [
          { field: "title", name: "Title", width: "auto" },
          { field: "releaseDate", name: "Year", width: "5em", formatter: yearFormatter },
          { field: "awards", name: "Awards", width: "15%", formatter: awardsFormatter }
        ],
        selectionMode: 'single',
        rowsPerPage: 50,
        keepRows: 300
      }, 'movieslist');

      grid.onCellContextMenu = function(e) {
        if (e.cell.field == "awards") {
          var movie = e.grid.getItem(e.rowIndex);
          if (movie.awards) {
            var awards = movie.awards;
            var awardsMenu = new dijit.Menu({targetNodeIds: e.cellNode});
            awardsMenu.addChild(new dijit.MenuItem({
              label: 'Overview'//,
//###FIXME              onClick: function() { dojo.publish('award.selected', [awards]) }
            }));
            awardsMenu.addChild(new dijit.MenuSeparator());
            dojo.forEach(awards, function(award) {
              awardsMenu.addChild(new dijit.MenuItem({
                label: award.title//,
//###FIXME                onClick: function() { dojo.publish('award.selected', [award]) }
              }));
            });
            awardsMenu.startup();
            dojo.connect(awardsMenu, 'onClose', function() {
              awardsMenu.uninitialize();
            });
            awardsMenu._openMyself(e);
          }
        }
	  };
	  grid.onHeaderContextMenu = function(e) {
	    console.log('*** onHeaderContextMenu: ', e); //### REMOVE
	  };
    
      dojo.connect(grid, 'onRowDblClick', function(event) {
        dojo.publish('movie.selected', [grid.getItem(event.rowIndex)]);
      });

      return grid;
    }

    function buildPeopleGrid(store) {
      var grid = new dojox.grid.DataGrid({
        query: { name: '*' },
        sortInfo: 1,
        store: store,
        rowsPerPage: 50,
        structure: [
          { field: "name", name: "Name", width: "auto" }
        ]
      }, 'peoplelist');
      
      moviedb.installTooltips(grid, function(e) {
        var person = e.grid.getItem(e.rowIndex);
        if (person && person.dob) {
          var msg = 'born ' + person.dob; //### TODO i18n
          dijit.showTooltip(msg, e.cellNode);
        }
      });
      
      return grid;
    }

    dojo.addOnLoad(function() {
      moviesStore = new moviedb.Store({ target: "/movies", schema: moviedb.schema.movie });
      moviesGrid = buildMoviesGrid(moviesStore);

      peopleStore = new moviedb.Store({ target: "/people", schema: moviedb.schema.person });
      peopleGrid = buildPeopleGrid(peopleStore);

      dojo.subscribe('movie.selected', function(movie) {
        var createMovieEditor = function() {
          return new moviedb.MovieEditor(moviesStore, movie);
        };
        editors.edit(movie, createMovieEditor);
      });

      dojo.subscribe('award.selected', function(award) {
        console.log("** AWARD: ", award);
        var createAwardView = function() {
          return new moviedb.AwardView({store: awardsStore, object: award});
        };
        editors.edit(award, createAwardView);
      });

      dojo.parser.parse();

      editors = new moviedb.EditorManager('editors');

      dojo.connect(dijit.byId('peopleQueryForm'), 'onSubmit', function(event) {
        var value = dijit.byId('peopleQuery').attr('value')
        value = /^\s*$/.test(value) ? '*' : dojo.string.trim(value);
        peopleGrid.setQuery({ name: value });
        dojo.stopEvent(event);
      });
    });
  </script>

</head>
<body class="tundra">
  
  <!-- Dijits -->

  <div dojoType="dijit.Declaration" widgetClass="moviedb.MovieEditor">
    <script type="dojo/method" event="constructor" args="store, object">
      this.store = store;
      this.object = object;
    </script>
    <script type="dojo/method" event="startup">
      this._form = dijit.byId(this.id + '_form');
      this._titleWidget = dijit.byId(this.id + '_title');
      dojo.connect(this._form, 'onChange', this, 'onChange');
      this._form.populate(this.store, this.object);
    </script>
    <script type="dojo/method" event="getTitle">
      return this._titleWidget ? this._titleWidget.attr('value') : 'Loading...'; //### TODO i18n
    </script>
    <script type="dojo/method" event="isModified">
      return this._form.isModified();
    </script>
    <script type="dojo/method" event="onChange">
      console.log('*** MOVIE ON CHANGE');
    </script>
    <div dojoType="dijit.layout.ContentPane">
      <div dojoType="moviedb.Form" id="${id}_form">
        <ul>
          <li>
            <label for="${id}_title">Title:</label>
          </li>
          <li>
            <div type="text" dojoType="dijit.form.ValidationTextBox"
                 id="${id}_title" name="title"
                 required="true" trim="true"
                 invalidMessage="Please enter the movie's title."></div>
          </li>
          <li>
            <label for="${id}_release_date">Release Date:</label>
          </li>
          <li>
            <div type="text" dojoType="dijit.form.DateTextBox"
                 id="${id}_releaseDate" name="releaseDate"
                 invalidMessage="Please enter a valid date."></div>
          </li>
          <li>
            <label for="${id}_summary">Summary</label>
          </li>
          <li>
            <div dojoType="dijit.form.Textarea"
                 id="${id}_summary" name="summary"
                 style="width:30em"></div>
          </li>
          <li><h3>Director</h3>
          </li>
          <li><h3>Actors</h3>
          </li>
          <li><h3>Awards</h3>
          </li>
          <li>
            <div dojoType="dojox.form.BusyButton" type="submit"
                 busyLabel="Saving..."
                 >Save Changes</div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- Layout -->
  
  <div dojoType="dijit.layout.BorderContainer" id="container" design="headline">
<!--
    <div dojoType="dijit.layout.ContentPane" region="top">
      <div class="headerWrapper">
        <h1>Movies</h1>
      </div>
    </div>
-->
    <div dojoType="dijit.layout.TabContainer" id="tabs"
         region="left" tabPosition="left-h" tabStrip="true" splitter="true"
         style="width:30%; min-width:20em; height:100%">
      <div dojoType="dijit.layout.ContentPane" id="moviesPane"
           title="Movies" iconClass="movieIcon" showLabel="false">
        <div id="movieslist"></div>
      </div>
      <div dojoType="dijit.layout.ContentPane" id="peoplePane"
           title="People" iconClass="peopleIcon" showLabel="false">
        <div dojoType="dijit.layout.BorderContainer">
          <div dojoType="dijit.layout.ContentPane" region="top">
            <div dojoType="dijit.form.Form" id="peopleQueryForm">
              <div dojoType="dijit.form.TextBox" id="peopleQuery" style="width:70%"></div>
              <button dojoType="dijit.form.Button" type="submit"
                      iconClass="filterIcon" showLabel="true" style="width:20%"
                      >Filter</button>
            </div>
          </div>
          <div dojoType="dijit.layout.ContentPane" region="center">
            <div id="peoplelist" region="center"></div>
          </div>
        </div>
      </div>
      <div dojoType="dijit.layout.ContentPane" id="awardsPane"
           title="Awards" iconClass="awardIcon" showLabel="false">
        <div dojoType="moviedb.Store"
             target="/awards" jsId="awardsStore"></div>
        <div dojoType="dijit.tree.ForestStoreModel"
             store="awardsStore"
             labelAttr="name"
             childrenAttrs="awards"
             jsId="awardsModel"></div>
        <div dojoType="dijit.Tree" jsId="awardsTree" 
             model="awardsModel"
             showRoot="false">
           <script type="dojo/connect" event="onDblClick" args="item, node">
             dojo.publish('award.selected', [item, node]);
           </script>
        </div>
      </div>
    </div>
    <div dojoType="dijit.layout.TabContainer" id="editors" region="center"></div>
  </div>
  
  <div dojoType="dojox.widget.Toaster" positionDirection="tr-down" messageTopic="toast"></div>
</body>
</html>
