<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Movies</title>

  <link rel="stylesheet" href="/stylesheets/movies.css" type="text/css" />

  <script src="/javascripts/dojo/dojo.js" type="text/javascript"
          djConfig="parseOnLoad:true, debugAtAllCosts:false"></script>

  <script type="text/javascript">
    var moviesStore, moviesGrid;
    var peopleStore, peopleGrid;
    var awardsStore, awardsTree;
    var editors;

    dojo.registerModulePath('aiki', "/javascripts/aiki");
    dojo.registerModulePath('moviedb', "/javascripts/moviedb");
    dojo.require('moviedb.movies');

    peopleStore = new aiki.Store({ target: "/people", schema: moviedb.schema.person });
    awardsStore = new aiki.Store({ target: "/awards", schema: moviedb.schema.award });
  
    dojo.addOnLoad(function() {
      function showEditor(widgetType, store, object, options) {
        editors.edit(object, store, widgetType, options);
      }
      
      moviesStore = new aiki.Store({ target: "/movies", schema: moviedb.schema.movie });
      moviesGrid = buildMoviesGrid(moviesStore, 'moviesList');
      moviesGrid.startup();

      dojo.subscribe('movie.selected',  dojo.partial(showEditor, 'moviedb.MovieEditor',  moviesStore));
      dojo.subscribe('person.selected', dojo.partial(showEditor, 'moviedb.PersonEditor', peopleStore));
      dojo.subscribe('award.selected',  dojo.partial(showEditor, 'moviedb.AwardView',    awardsStore));

      dojo.subscribe('awarding.selected', function(awarding) {
        console.log("** AWARDING SELECTED: ", arguments);
      });

      editors = new aiki.EditorManager('editors');
    });
  </script>

</head>
<body class="tundra">
  
  <!-- Dijits -->

  <div dojoType="dijit.Declaration" widgetClass="moviedb.MovieEditor"
       defaults="{store: null, object: null}">
    <script type="dojo/method" event="postCreate">
      this._form = dijit.byId(this.id + '_form');
      this._titleWidget = dijit.byId(this.id + '_title');
      dojo.connect(this._form, 'onChange', this, 'onChange');
      this._form.populate(this.store, this.object);
    </script>
    <script type="dojo/method" event="getFeatures">
      return {
        "moviedb.api.View": true,
        "moviedb.api.Edit": true
	  };
    </script>
    <script type="dojo/method" event="getTitle">
      return this._titleWidget ? this._titleWidget.attr('value') : 'Loading...'; //### TODO i18n
    </script>
    <script type="dojo/method" event="isModified">
      return this._form.isModified();
    </script>
    <script type="dojo/method" event="onChange">
      console.log('*** MOVIE ON CHANGE');
    </script>
    <div>
      <div dojoType="aiki.Form" id="${id}_form">
        <ul>
          <li>
            <label for="${id}_title">Title</label>
          </li>
          <li>
            <div type="text" dojoType="dijit.form.ValidationTextBox"
                 id="${id}_title" name="title"
                 required="true" trim="true"
                 invalidMessage="Please enter the movie's title."></div>
          </li>
          <li>
            <label for="${id}_releaseDate">Release Date</label>
          </li>
          <li>
            <div type="text" dojoType="dijit.form.DateTextBox"
                 id="${id}_releaseDate" name="releaseDate"
                 invalidMessage="Please enter a valid date."></div>
          </li>
          <li>
            <label for="${id}_summary">Summary</label>
          </li>
          <li>
            <div dojoType="dijit.form.Textarea"
                 id="${id}_summary" name="summary"
                 style="width:30em"></div>
          </li>
          <li>
            <h3>Director</h3>
          </li>
          <li>
            <h3>Actors</h3>
          </li>
          <li>
            <h3>Awards</h3>
          </li>
          <li>
            <div dojoType="dojox.form.BusyButton" type="submit"
                 busyLabel="Saving..."
                 >Save Changes</div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- Layout -->
  
  <div dojoType="dijit.layout.BorderContainer" id="container" design="headline">
<!--
    <div dojoType="dijit.layout.ContentPane" region="top">
      <div class="headerWrapper">
        <h1>Movies</h1>
      </div>
    </div>
-->
    <div dojoType="dijit.layout.TabContainer" id="tabs"
         region="left" tabPosition="left-h" tabStrip="true" splitter="true"
         style="width:30%; min-width:20em; height:100%">
      <div dojoType="dijit.layout.ContentPane" id="moviesPane"
           title="Movies" iconClass="movieIcon" showLabel="false">
        <div id="moviesList"></div>
      </div>
      <div dojoType="dijit.layout.ContentPane" id="peoplePane"
           title="People" iconClass="peopleIcon" showLabel="false">
        <div dojoType="moviedb.PeopleGrid" store="peopleStore" id="peopleList"></div>
      </div>
      <div dojoType="dijit.layout.ContentPane" id="awardsPane"
           title="Awards" iconClass="awardIcon" showLabel="false">
        <div dojoType="moviedb.AwardsTree" 
             store="awardsStore" 
             id="awardsTree"></div>
      </div>
    </div>
    <div dojoType="dijit.layout.TabContainer" id="editors" region="center"></div>
  </div>
  
  <div dojoType="dojox.widget.Toaster" positionDirection="tr-down" messageTopic="toast"></div>
</body>
</html>
