<div class="awarding">
  <div class="year">{{ awarding.year }}</div>
  {% ifnotequal awarding.people|length 0 %}
  <div class="people">People:
    <ul class="list">
      {% for person in awarding.people %}
      <li><a href="{{ person.__id }}">{{ person.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endifnotequal %}
  {% ifnotequal awarding.movies|length 0 %}
  <div class="movies">Movies:
    <ul class="list">
      {% for movie in awarding.movies %}
      <li><a href="{{ movie.__id }}">{{ movie.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endifnotequal %}
</div>
