<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Awards</title>

  <link rel="stylesheet" href="/stylesheets/movies.css" type="text/css" />

  <script src="/javascripts.<%= RAILS_ENV %>/dojo/dojo.js" type="text/javascript"
          djConfig="parseOnLoad:true"></script>

  <script type="text/javascript">
    dojo.addOnLoad(function(){
      dojo.registerModulePath('moviedb', "/javascripts.<%= RAILS_ENV %>/moviedb");
      dojo.require('moviedb.movies');
    });
  </script>

</head>
<body class="tundra">

  <div dojoType="dijit.layout.BorderContainer" jsid="container" id="container" design="headline">
    <div dojoType="dijit.layout.ContentPane" region="top">
      <div class="headerWrapper">
        <h1>Awards</h1>
      </div>
    </div>
    <div dojoType="dijit.layout.ContentPane" region="center">
      <div dojoType="dojo.data.ItemFileReadStore"
           url="/awards.json" jsId="awardsStore"></div>
      <div dojoType="dijit.tree.ForestStoreModel"
           rootLabel="Awards" store="awardsStore"
           childrenAttrs="awards"
           jsId="awardsModel"></div>
      <div dojoType="dijit.Tree" id="awardsTree" 
           model="awardsModel"
           showRoot="false"></div>
    </div>
  </div>


</body>
</html>
