
@import "../javascripts/dijit/themes/tundra/tundra.css";
@import "../javascripts/dojox/grid/resources/tundraGrid.css";
@import "../javascripts/dojox/widget/Toaster/Toaster.css";
@import "../javascripts/dojox/form/resources/BusyButton.css";

html, body, #container {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0;
  overflow: hidden;
}

.headerWrapper {
  font-family:"Century Gothic", Verdana,Arial,Helvetica,sans-serif;
  width: 100%;
  color:#fff;
  margin: 0;
  padding: 0;
  background:#2e2e2e;
}

.dijitTabPaneWrapper {
  overflow: auto;
}

h1 {
  font-family:"Century Gothic", Verdana,Arial,Helvetica,sans-serif;
  width:500px;
  padding:0.5em;
  margin:0;
  color:#fff;
  background:#2e2e2e;
  font-weight:normal;
  -moz-border-radius-topleft:8px;
  -moz-border-radius-topright:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -webkit-box-shadow: 2px 2px 11px #888;
}

#container div.dijitContentPane {
  padding: 0 !important;
}

.movieIcon {
  background-image: url(/images/plus.gif);
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}

.peopleIcon {
  background-image: url(/images/plus.gif);
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}

.awardIcon {
  background-image: url(/images/plus.gif);
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}

.awarding .list ul {
  display: inline;
}

.awarding .list li {
  display: inline;
}
