
@import "../javascripts/dijit/themes/tundra/tundra.css";
@import "../javascripts/dojox/grid/resources/tundraGrid.css";
@import "../javascripts/dojox/widget/Standby/Standby.css";
@import "../javascripts/dojox/widget/Toaster/Toaster.css";
@import "../javascripts/dojox/form/resources/BusyButton.css";
@import "../javascripts/aiki/_SortedList/SortedList.css";

html, body, #container {
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0;
  overflow: hidden;
}

.headerWrapper {
  font-family:"Century Gothic", Verdana,Arial,Helvetica,sans-serif;
  width: 100%;
  color:#fff;
  margin: 0;
  padding: 0;
  background:#2e2e2e;
}

.dijitTabPaneWrapper {
  overflow: auto;
}

h1 {
  font-family:"Century Gothic", Verdana,Arial,Helvetica,sans-serif;
  width:500px;
  padding:0.5em;
  margin:0;
  color:#fff;
  background:#2e2e2e;
  font-weight:normal;
  -moz-border-radius-topleft:8px;
  -moz-border-radius-topright:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -webkit-box-shadow: 2px 2px 11px #888;
}

#container div.dijitContentPane {
  padding: 0 !important;
}

.smallIcon {
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 32px;
}

.tinyIcon {
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px; /* FIXME */
  height: 32px; /* FIXME */
}

.movieIcon {
  background-image: url(/images/small/film-reel.png);
}

.peopleIcon {
  background-image: url(/images/small/person.png);
}

.awardIcon {
  background-image: url(/images/small/oscar.png);
}

.moviedbEditor ol {
  list-style-type: none;
}

.moviedbEditor li {
  margin-top: 0.5em;
}

.moviedbEditor label {
  display: block;
  font-weight: bold;
}

.moviedbEditor h3 {
  font-size: 150%;
  background-repeat: no-repeat;
  background-position: top left;
  width: 48px;
  height: 48px;
  padding-left: 50px;
}

.moviedbEditor .movies h3 {
  background-image: url(/images/medium/film-reel.png);
}

.moviedbEditor .director h3 {
  background-image: url(/images/medium/directors-chair.png);
}

.moviedbEditor .actors h3 {
  background-image: url(/images/medium/person.png);
}

.moviedbEditor .awards h3 {
  background-image: url(/images/medium/oscar.png);
}

.moviedbAwardView .groupList,
.moviedbAwardView .group
{
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

.moviedbAwardView .group {
  padding: 0;
}

.moviedbAwardView .awarding {
  margin-bottom: 0.2em;
}

.moviedbAwardView .awarding .year {
  font-weight: bold;
}

.moviedbAwardView .awarding .name {
  margin: 0;
  font-weight: bold;
}

.moviedbAwardView .awarding .list,
.moviedbAwardView .awarding .list li
{
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

#awardsTree {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 1px #ccc solid !important;
}

#editors .dijitTab .movieIcon {
  background-image: url(/images/small/film-reel.png);
}

#editors .dijitTab .personIcon {
  background-image: url(/images/small/person.png);
}

#editors .dijitTab .awardIcon {
  background-image: url(/images/small/oscar.png);
}

